@charset "UTF-8";
@import "bp";

.info-container{
    .info01{
        font-size: 24px;
        font-weight: 700;
        color: red;
        text-shadow: 1px 1px #333;
    }
    .info02{
        list-style: none;
    }
    .info03{
        font-weight: 700;
        color:blue;
        text-decoration: underline;
    }
}